body {
	background:#443b75;
	font-family: 'Arvo', serif;
	text-align: center;
	padding:20px;
}

body > h1 {
	color:snow;
}

form {
	position:relative;	
	top: 20px;
}

.field {
	width: 350px;
	border: 0;
	padding: 10px;
	border-radius: 7px;
	outline: none;
	font-family: 'Arvo', serif;
	display:block;
	margin: 0 auto;
	font-size: 2em;
}


.btn {
	border:0;
	color:snow;
	width:75px;
	height:40px;	
	padding:5px;
	border-radius:10px;
	outline:none;
	font-family: 'Arvo', serif;
	margin:20px auto;
	display:inline-block;
}

.btn:hover {
	background:gold;
}

.trash {
	width:15px;
	margin-left:10px;
	visibility:hidden;
}

ul {
	list-style-type: none;
	text-align: left;
	padding:0;
}

#list {
	width: 20%;
	height:250px;
	background:snow;
	overflow: auto;
	padding:10px;
	border-radius: 7px;
	margin:0 auto;
}


li:hover > .trash {
	visibility:visible;
}

li {
	margin-top:20px;
}

.console {
	height:50px;
	color:snow;
}



